@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #282c34;
  font-family: 'Inter', 'sans serif';
  font-weight: 200;
}

span {
  font-weight: 200;
  font-size: small;
}

input {
  border-radius: 5px;
}

button {
  background-color: #ffffff;
  font-family: 'Inter', 'sans serif';
  font-weight: 200;
  border-radius: 5px;
  margin-top: 7px;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.goalItem {
  cursor: pointer;
  padding-left: 12px;
}

.Title {
  font-weight: 800;
}

.buttons {
  display: flex;
}

.inputs {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
}
